div {
    height:100vh;
    background-color:deeppink;
}
body{
    height:100vh;
    width:100%;
}
textarea{
    width:100%;
    height:100vh;
    resize:none;
    padding:0.25rem;
}


@media (prefers-color-scheme: dark) {
    textarea {
      background: #1b1b1b;
      color: #8cb4ff;
    }
  }